<div class="card-body">
    <div class="form-group">
        <label for="template_logo_name" class="form-label text-dark">Template top logo text</label>
        <input type="text" id="template_logo_name" name="template_logo_name" placeholder="Enter top template logo text" class="form-control mb-1" value="<%- CustomTemplateSettings.template_logo_name %>">
    </div>
</div>