<div class="d-flex align-items-center justify-content-center vh-100 bg-primary fill">
    <h1 class="display-1 fw-bold text-white">404 page not found!</h1>
    <br>
    <div class="textWhite">
    <a href="/">Go back home!</a>
    </div>
</div>