<div class="row">
    <div class="container-section">
        <section class="main-section">
            <article class="main-post-article">
                <div class="row">
                    <div class="leftcolumn">
                        <div class="card">
                            <div class="notfound-page">
                                <h1>HTTP: <span>404</span></h1>
                                <code><span>this_page</span>.<em>not_found</em> = true;</code>
                                <code><span>if</span> (<b>you_spelt_it_wrong</b>) {<span>try_again()</span>;}</code>
                                <code><span>else if (<b>we_screwed_up</b>)</span> {<em>alert</em>(<i>"We're really sorry about that."</i>); <span>window</span>.<em>location</em> = <a href="/">home</a> ;}</code>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="side-section">
            <article class="side-post-article">
                <div class="rightcolumn">
                    <div class="card">
                        <div class="sideTitle">
                            <div class="aside-txt">
                                <div class="aside-icon"><i class="fas fa-award"></i></div>
                                <div class="widget-title">
                                    <span class="widget-title-txt"><%- websiteName %></span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="overlay-content">
                            <form action="/result" method="post">
                                <label>
                                    <input type="text" name="search_text" placeholder="Search for...">
                                </label>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
<script src="/template_assets/diariesvexar/js/404.js"></script>