<!doctype html>
<html lang="<%= websiteLanguage %>" dir="<%= websiteDirection %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">

    
    <link rel="stylesheet" href="/template_assets/diariesvexar/css/message-style.css">
    <link rel="stylesheet" href="/template_assets/diariesvexar/css/single-style.css">
    <link rel="stylesheet" href="/template_assets/diariesvexar/css/login-style.css">
    <link rel="stylesheet" href="/template_assets/diariesvexar/css/result-style.css">
    <link rel="stylesheet" href="/template_assets/diariesvexar/css/style.css">
    <link rel="stylesheet" href="/template_assets/diariesvexar/css/section.css">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title><%- websiteName %></title>
</head>