<link rel="stylesheet" href="/template_assets/diariesvexar/css/bootstrap-style.css">
<%- include('Header') -%>

<div class="content-wrapper">
    <%- include('messages') -%>
</div>

<body class="img-login js-fullheight">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Login</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Have an account?</h3>
                    <form action="/login" method="post" class="signin-form">
                        <div class="form-group">
                            <label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="password"></label><input id="password" name="password" type="password" class="form-control" placeholder="Password">
                            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #fff">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                    <p class="w-100 text-center">&mdash; Or Sign Up &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="/register" class="px-2 py-2 mr-md-1 rounded">Sign Up</a>
                        <a class="px-2 py-2 mr-md-1 rounded d-block small" href="forgot-password.html">Forgot Password?</a>
                        <a class="px-2 py-2 mr-md-1 rounded d-block small" href="/">Home Page?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/template_assets/diariesvexar/js/jquery.min.js"></script>
<script src="/template_assets/diariesvexar/js/popper.js"></script>
<script src="/template_assets/diariesvexar/js/bootstrap.min.js"></script>
<script src="/template_assets/diariesvexar/js/main.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.auto-hide').slideUp(300);
        }, 2000);
    });
</script>
</body>